.hidden{
    display: none;
}

.gameContainer {
    background: linear-gradient(135deg, #153677, #4e085f);
    /* padding: 10px; */
    max-width: 20em;
    max-height: 30em;
    border-radius: 5%;
    margin-bottom: 10px; 
}
.header {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5%;
    margin-bottom: 7px;
    box-shadow: 5px 5px 5px black ;
   
}

.thHeadertext {
    margin-left: 20px;
    
}

.settingBtn {
    background: none;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    transition: top 0.3s ease, left 0.3s ease;
}

.settingBtn:hover{
    /* background-color: #ccc; Change color */
    box-shadow: 0 2px #666; /* Add shadow for depth */
    transform: translateY(2px); /* Nudge the button down */
}

.aElement {
    display: block;
    padding: 5px 7px;
    background-color: #681a7b;
    cursor: pointer;
}

.level {
    position: absolute;
    z-index: 10;
    /* background-color: #681a7b; */
    outline: #1c0123;
    border-radius: 20%;
    min-width: 60px;
    box-shadow: 5px 5px 5px black;
    
}

/* Corrected hover selector */
.level .aElement:hover {
    background: #7f5d88;
}


.settingImg {
    height: 20px;
    

}

.cardsContainer{
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 7px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black ;
    
}

.gameimgs{
    width: 40px;
    height: 40px;
}


.card {
    position: relative;
   width: 55px;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center; 
   font-size: 3em;
   transform: rotateY(360deg);
   transition: 0.25s;
   margin-top: 5px;
   margin-bottom: 5px;
   border-radius: 20%;
   box-shadow: 5px 5px 5px hsla(0, 0%, 5%, 0.801) ;
}



.card:after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #153677, #4e085f);
    background-position: center;
    background-size: cover;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 20%;
}

.boxOpen:after,
.matchBox:after {
    transform: rotateY(180deg);
}


.gameStatus {
    border-radius: 5%;
    
}

.levelText {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.try {
    margin-left: 20px;
    margin-top: 5px;
}

.gameInfo {
    background-color: rgba(255, 255, 255, 0.3);
  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5%;
    font-size: large;
    font-weight: bold;
    box-shadow: 10px 5px 5px black ;
}

.reset {
    background: none;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    position: relative;
    transition: top 0.3s ease, left 0.3s ease;
    cursor: pointer;
}

.reset:active{
    /* background-color: #ccc; Change color */
    box-shadow: 0 2px #666; /* Add shadow for depth */
    transform: translateY(2px); /* Nudge the button down */
}

.restartImg {
    height: 30px;
}