* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a3c2f;
} */

.gameContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #0d614b;
    padding: 40px 60px;
    min-width: fit-content; /* Set minimum width based on content */
    min-height: fit-content;
}

h2 {
   font-size:3em; 
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    color: #267c65;
    background: #fff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color: #fff;
    background: #267c65;
}

.game {
    
    width: 230px;
    
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.flag {
   position: relative;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center; 
   font-size: 3em;
   transform: rotateY(360deg);
   transition: 0.25s;
}
.gameimgs{
    width: 40px;
    height: 40px;
}

.flag.boxOpen {
    transform: rotateY(0deg);
}

.flag:after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../img/q.png');
    background-position: center;
    background-size: cover;
    background-color:#267c65;
    
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
/* .boxOpen:after {
    transform: rotateY(180deg);

} */

.boxOpen:after,
.matchBox:after {
    transform: rotateY(180deg);
}