body {
    background: url('../img/sunset-city-street-pixel-thumb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.memoryGame {
    background-image: url('/src/img/hmm.png'); /* Add your image path here */
    background-size: cover; /* Cover the entire area of the button */
    width: 25px; /* Or the size you want */
    height: 25px; /* Or the size you want */
    border: none; /* Optional: removes the border */
    color: transparent; /* Makes the text transparent */
  }
  
  .chattApp {
    background-image: url('/src/img/icons8-wechat-100.png'); /* Add your image path here */
    background-size: cover; /* Cover the entire area of the button */
    width: 25px; /* Or the size you want */
    height: 25px; /* Or the size you want */
    border: none; /* Optional: removes the border */
    color: transparent; /* Makes the text transparent */
  }



  .theOuterGBox {
    background-color: aliceblue;
    display: inherit;
    height: 220px;
    
  }



 #windowsContainer {
  position: relative; /* Child windows will be positioned relative to this container */
}

.window {
  position: absolute;
  width: 300px; /* Set a fixed width for the windows */
  height: 200px; /* Set a fixed height for the windows */
  border: 1px solid #000;
  background: #fff;
  /* Use box-shadow to create depth, similar to the OS window effect */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Use transition for a smooth appearance of the windows */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Style to bring the clicked window to the front */
.window:focus-within {
  z-index: 1000;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Initial style for the window before it appears */
.window.hidden {
  transform: scale(0);
}

/* Style for the window when it is visible */
.window.visible {
  transform: scale(1);
}
