


.hidden{
    display: none;
}

/* .theAppcontainer{
    width: 100%;
    min-height: 10px;
    max-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
} */


.todoApp{
    width: 100%;
    min-height: fit-content;
    max-width:  410px;
    background:#7393d2;
    margin: 5px auto 5px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.todoApp h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todoApp h2 img{
    width: 30px;
    margin-left: 10px;
}


.searchDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

#inputBox{
    flex: 1;
    border: none;
    outLine: none;
    background: transparent;
    padding: 10px;
}

#addBtn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(135deg, #153677, #4e085f);
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
}

#list, #listItem{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

 #listItem::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../img/toDo/circle.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}

#listItem.checked {
    color: #555;
    text-decoration: line-through;
}

#listItem.checked::before{
    background-image: url(../img/toDo/checked.png);
}


.span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}
.span:hover{
    background: #edeef0;
}